<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<link rel="stylesheet" type="text/css" href="./fontFace.css">
	<script src="../vue2.6.js"></script>
</head>

<body>
	<div id="app">
		<m-alert type="warning" :closeable="false" :showicon="true" @close-click="closeHandle(1)" ref="aa">
		</m-alert>
		<div ref='bb'>aasdasd</div>

		<m-alert type="error">
			<!-- v2.6以前方式 -->
			<template slot="titleTmp">
				<p>我是v2.6之前方式</p>
			</template>
			<i slot="iconTemp" class="m-icon m-icon-menu"></i>
		</m-alert>

		<m-alert type="error">
				<!-- 2.6版本以后方式,注意，新版中不允许出现相同名字为tit_t的两个template-->

				<!-- 匿名slot -->
				<!-- <template v-slot:default>
					我是子组件传过来的数据：
				</template> -->
	
				<!-- 有名字slot -->
				<template v-slot:tit_t="{ title }">
						我是v2.6之后新的方式，接收子组件传过来的数据：{{ title }}
				</template>
				<i slot="iconTemp" class="m-icon m-icon-menu"></i>
			</m-alert>
		<div>
			/* alert提醒框有四种状态： info success error warning 设置的props： type 提醒框类型 默认为info title 提示信息 '这里有一个消息要提示' closeable 是否禁用关闭 默认为true
			showicon 是否显示图标 默认为fasle style 设置提醒框样式 默认为{} 定制模板： slot为iconTmp 定制icon模板 slot为titleTmp 定制提示信息结构 监控状态变化： 事件名close-click
			点击关闭X触发 */
		</div>
	</div>
	<script>
		/*
			alert提醒框有四种状态：
					info success error warning

			设置的props：
				type 提醒框类型 默认为info
				title 提示信息 '这里有一个消息要提示'
				closeable 是否禁用关闭 默认为true
				showicon 是否显示图标 默认为fasle
				style 设置提醒框样式 默认为{}

			定制模板：
				slot为iconTmp  定制icon模板
				slot为titleTmp 定制提示信息结构

			监控状态变化：
				事件名close-click   点击关闭X触发
		*/
		Vue.component("m-alert", {
			props: {
				type: {
					type: String,
					default: "info"
				},
				title: {
					type: String,
					default: '这里有一个消息要提示'
				},
				closeable: {
					type: Boolean,
					default: true
				},
				showicon: {
					type: Boolean,
					default: false
				},
				styleType: String
			},
			computed: {
				classes() {
					return `m-alert-${this.type}`
				},
				iconClass() {
					return `m-icon-${this.type}`
				}
			},
			template: `
					<div class="m-alert" :class="[classes]" style="styleType">
						<slot name="iconTemp">
							<i v-if="showicon" class="m-icon" :class="[iconClass]"></i>
						</slot>
						
						<div class="m-content">
							<slot name="tit_t" :title="title">
								<span class="m-message">{{title}}</span>
							</slot>
							<i v-if="!closeable" class="m-closebtn m-icon-close" @click="closeHandle"></i>
						</div>
					</div>
				`,
			methods: {
				closeHandle() {
					alert(123)
					this.$emit("close-click")
				}
			}
		})

		var vm = new Vue({
			el: "#app",
			data: {
				arr: {
					movies: [],
					page: 1,
					size: 6
				}
			},
			methods: {
				closeHandle(data) {
					alert('关闭后做一些事情'+data);
					//console.log(this.$root.$el);
					console.log(this.$refs.bb);
				}
			},
			mounted: function () {
				//console.log(this.$refs.aa.$el);
				let bbb = this.arr.size
				this.arr.size = 10;
				console.log(bbb)//解构赋值无法进行双向数据绑定
			}
		});
	</script>
</body>

</html>